/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/reset.scss";
@import "./assets/sass/common.scss";


html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: $backColor;
    font-family: "M PLUS Rounded 1c";
}

button{
    cursor: pointer;
    cursor: hand;
    border: none;
    border-radius: 0.8rem;
}